<h1>The project is <%=@questionnaire.route.route%></h1>

<% @answers_array.each do |answer| %>	
	<%= answer.question.question_text %>
	<%= answer.answer %>
<%end%>

<br>
<br>
<br>

<% @questionnaire.practices.each do |practice| %>
	<%=practice.practice_name%>
<%end%>