<%= link_to 'New project', new_questionnaire_path %>
<h1>Projetos cadastrados: </h1>
<% @questionnaires.each do |questionnaire| %>
	<%if questionnaire.route != nil %>
		<p><%= questionnaire.route.route %> <%= link_to "See it", questionnaire %></p>
	<% end %>
<%end %>
